*
{
  margin: 0;
  padding: 0;
}

body
{
  padding: 0;
  margin: 0;
  background: #fffd7334;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #000000 0%,#00000079 100%);
}

body::-webkit-scrollbar
{
  display: none;
}

#collage
{
  width: 100vw;
  height: auto;
}

#bday_video
{
  width: 100vw;
  height: auto;
}